.canvas-menu-container {
  margin-right: 4%;

  .undo-redo-buttons {
    display: flex;
    height: 10vh;
    margin-bottom: 11%;

    .undo, .redo {
      height: 100%;
      width: 100%;
      border: none;
      cursor: pointer;

      &:focus {
        outline: none;
      }

      i {
        font-size: 2rem;
        color: black;
      }
    }
  }

}
